@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

@media (prefers-color-scheme: light) {
    :root {
        --text: #0b1d23;
        --background: #f0f7fa;
        --primary: #66caeb;
        --secondary: #7a96d6;
        --accent: #3950c0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #dceef4;
        --background: #050c0f;
        --primary: #147899;
        --secondary: #294485;
        --accent: #3f55c6;
    }
}





* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    border: 0;
}

.shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #19202b9d);
    filter: drop-shadow(5px 5px 2px #19202b9d);

}

html,
body {
    overflow: hidden;
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 400;
}

.logo-cima {
    position: absolute;
    height: 6rem;
    margin: 5rem;
}

.bg-login {
    position: absolute;
    z-index: -1;
    height: 100vh;
}

.bg-balls {
    z-index: 10;
    margin-left: -4rem;
    margin-top: -2rem;
    position: absolute;
    height: 50rem;
}

.bg-blob1 {
    z-index: 10;
    margin-top: -2rem;
    margin-left: 30rem;
    position: absolute;
    height: 9rem;
}

.column {
    height: 100vh;
    margin-left: 40%;
    background-color: var(--background);
    border-top-left-radius: 5rem;
}

.form-login {
    padding: 15%;
    padding-top: 20% !important;
    padding-bottom: 5% !important;

    h1 {
        font-size: 5rem;
        margin: 0;
        background: -webkit-radial-gradient(var(--primary), var(--accent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .esqueceu {
        width: 100%;
        background: -webkit-linear-gradient(var(--accent), var(--primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    input {
        width: 100%;
        margin: 0;
        border-radius: 0.5rem;
        height: 2rem;
        background-color: var(--text);
        color: var(--accent);
        padding: 1rem;
        height: 3rem;
    }

    p {
        margin: 0;
        padding-top: 0.5rem;
    }

    a {
        display: block;

        padding: 5%;
        text-align: center;
    }

    button {
        display: block;
        width: 100%;
        height: 3rem;
        text-align: center;
        border-radius: 0.5rem;
        font-family: 'Courier New', Courier, monospace;
        background-color: var(--accent);
    }
}

.container-contato {
    display: flex;
    justify-content: center;
}

.contato {
    height: 5rem;
    width: 5rem;
    background-color: var(--secondary);

}


.mesa-login {
    position: absolute;
    margin-top: 9rem;
    margin-left: 5rem;
    z-index: 1;
    box-shadow: 0cm;
}