@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "/src/config/global.css";

.hidden {
  opacity: 0;
  visibility: hidden;
}



.highlight {
  color: var(--primary);
}

.weight {
  font-weight: 800;
  word-spacing: 1rem;
  color: var(--accent);
}

.marked {
  background-color: var(--accent);
  color: var(--background);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

* {
  text-decoration: dashed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  background-color: var(--background);
}

body::-webkit-scrollbar {
  display: none;
}

header {
  user-select: none;
  nav {
    display: flex;
    width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    img {
      height: 10rem;
    }
  }
  ul {
    display: flex;
    list-style: none;
    a {
      padding: 0 1.5rem;
      text-transform: uppercase;
    }
  }
  div {
    height: 2.75rem;
    svg {
      position: absolute;
    }
    .svg-lua {
      margin: 0.6rem 0.65rem;
      fill: var(--text-inv);
    }
    .svg-lua-bola {
      fill: var(--accent);
    }
  }
}

.btn-restrito {
  background-color: var(--accent);
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  a {
  }
}

.bg-banner {
  z-index: -1;
  position: absolute;
  margin-left: 50%;
  user-select: none;
  pointer-events: none;

  transition: opacity 0.7s ease-in-out;

}

.resolva {
  margin-left: 15vh;

  h1 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2rem;
    color: var(--accent);
  }
}
