@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "/src/config/global.css";

* {
  text-decoration: dashed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

body {
  background-color: var(--background);
}

header {
  user-select: none;
  nav {
    display: flex;
    width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    img {
      height: 10rem;
    }
  }
  ul {
    display: flex;
    list-style: none;
    a {
      padding: 0 1.5rem;
      text-transform: uppercase;
    }
  }
  div {
    height: 2.75rem;
    svg {
      position: absolute;
    }
    .svg-lua {
      margin: 0.6rem 0.65rem;
      fill: var(--primary);
    }
    .svg-lua-bola {
      fill: var(--accent);
    }
  }
}

.btn-restrito {
  background-color: var(--accent);
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  a {
  }
}
