@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../global.css";
html {
  font-size: 16px;
}

.bgs {
  user-select: none;
  pointer-events: none;
}

* {
  text-decoration: dashed;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  transition: opacity 2.3s ease-out;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  background-color: var(--background);
  height: 500vh;
}

.logo {
  margin: 1rem 0 0 1rem;
}

.hidden {
  opacity: 0;
  display: none;
}

.shown {
  display: block;
  opacity: 1;
}

.highlight {
  color: var(--primary);
}

.weight {
  font-weight: 1000;
  word-spacing: 2rem;
  color: var(--primary);
}

.marked {
  background-color: var(--primary);
  color: var(--background);
  padding: 0rem 0.6rem 0rem 0.6rem;
  margin: 0 0 0 -0.5rem;
  font-weight: 500;
}

.pagina1 {
  height: 100vh;
}

header {
  user-select: none;
}
header nav {
  font-weight: 700;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  justify-content: space-around;
  align-items: center;
}
header nav img {
  height: 10rem;
}
header ul {
  display: flex;
  list-style: none;
}
header ul a {
  padding: 0 1.5rem;
  text-transform: uppercase;
}
header div {
  height: 2.75rem;
}
header div svg {
  position: absolute;
}
header div .svg-lua {
  margin: 0.6rem 0.65rem;
  fill: var(--secondary);
}
header div .svg-lua-bola {
  fill: var(--text);
}

.btn-restrito {
  background-color: var(--secondary);
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.btn-restrito a {
  color: var(--text);
  font-weight: 600;
}

.bg-banner {
  z-index: -1;
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  user-select: none;
  pointer-events: none;
}

.resolva {
  margin-left: 20vh;
  margin-top: 10vh;
}
.resolva h1 {
  font-size: 5rem;
  z-index: 20;
}
.resolva h3 {
  font-size: 2rem;
  color: var(--primary);
  margin-left: -2vh;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45rem;
  margin: 7rem 0 0 10rem;
  position: relative;
}
.boxes .box0,
.boxes .box1,
.boxes .box2 {
  display: flex;
  height: 12rem;
  width: 10rem;
  background-color: var(--secondary);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  text-align: center;
}
.boxes .boxb {
  position: absolute;
  background-color: var(--primary);
  width: 100%;
  height: 2rem;
  z-index: -1;
  bottom: 4rem;
}

.desc {
  padding: 2.5rem 1rem 1rem 1rem;
  bottom: 4rem;
  z-index: 10;
}

.wein {
  position: absolute;
  right: 0;
  transform: translateY(-3rem);
  height: 90vh;
  z-index: -1;
  user-select: none;
}

.lampada {
  position: absolute;
  margin: -4rem 0 0 14rem;
  user-select: none;
  z-index: -1;
}

.shadow {
  -webkit-filter: drop-shadow(-2px 2px 2px var(--shadow));
  filter: drop-shadow(-2px 2px 2px var(--shadow));
}

.fixa {
  position: absolute;
  width: 30rem;
  height: 3rem;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  margin: 4.5rem 0rem 0rem 11rem;
}
.fixa .fixa1 {
  background: var(--primary);
  width: 75%;
  height: 0.65rem;
  border-radius: 0.21875rem;
}
.fixa .fixa2 {
  background: var(--accent);
  border-radius: 0.21875rem;
  width: 100%;
  height: 0.65rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 763px) and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 763px) {
  html {
    font-size: 9px;
  }
}
.pagina2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.retangulo {
  position: relative;
  width: 100%;
  z-index: -1;
  height: 100vh;
  background: var(--primary);
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retangulo .abrace {
  margin-left: 10%;
  justify-content: center;
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  z-index: 15 !important;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 1rem;
}
.retangulo .abrace h2 {
  font-size: 3.5rem;
  height: 20%;
  text-align: center;
  z-index: 10;
}
.retangulo .abrace h2 .marked {
  background-color: var(--accent);
}
.retangulo .abrace p {
  height: 80%;
  padding: 1%;
  z-index: 10;
}

.text-border {
  display: none;
  width: 60vw;
  font-size: 14rem;
  margin-left: 40vw;
  font-weight: 500;
  position: absolute;
  z-index: -1 !important;
  letter-spacing: auto;
  text-align: center;
  justify-content: space-around;
  color: var(--primary); /* Set the inner color of the text */
  -webkit-text-stroke: 1px var(--text); /* Set the width and color of the border */
}

.indiano {
  position: inherit;
  height: 100%;
  z-index: 10;
}

.taylorswift {
  position: absolute;
  height: 100%;
  z-index: 10;
}

.estrelhinhas {
  position: absolute;
  margin: 10rem 10rem 10rem 50rem;
  z-index: 10;
}

.pagina3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-image: url("../../images/home/papelzada.png");
  background-repeat: repeat;
  background-position: center;
}
.pagina3 .estrelada {
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  transform: translateY(60vh);
}
.pagina3 .redondadoz {
  background: var(--primary);
  position: relative;
  translate: 20vw 17vh;
  z-index: -1;
  height: 62%;
  width: 25%;
  border-radius: 5rem;
}
.pagina3 .bolado {
  background: var(--primary);
  position: relative;
  translate: -14vw 70vh;
  z-index: 1;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
}

.familia {
  z-index: inherit;
  width: auto;
  height: 100%;
  position: absolute;
}

.ensino-bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  height: 70vh;
  margin: 15vh 0 0 25vw;
  width: 40vw;
}
.ensino-bloco h2 {
  text-align: center;
  background-color: black;
  width: 100%;
  font-size: 4rem;
}
.ensino-bloco h2 .marked {
  font-size: 4.1rem;
}
.ensino-bloco p {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}

/*# sourceMappingURL=home.css.map */
