@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  --text: #26210d;
  --text-inv: #f2edd9;
  --background: #f7f0dc;
  --primary: #234c67;
  --secondary: #b1d4f6;
  --accent: #cfa93f;
  --shadow: #201a0851;
}

.dark-mode {
  --text: #f2edd9;
  --text-inv: #26210d;
  --background: #100e07;
  --primary: #98c1dc;
  --secondary: #092b4e;
  --accent: #c09930;
  --shadow: #201a0851;
}

.point {
  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
  }
}

/* * {
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
} */

@-webkit-keyframes movbg {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
@keyframes movbg {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar.some-selector {
  scrollbar-color: #888 #333;
}
