@import url("global.css");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
}

/* body geral */
body {
  overflow-x: hidden;
}

/* body do index */
body#home {
  background-color: var(--background);
  max-width: 98vw;
  margin: auto;
}

body#home #meshbg {
  position: absolute;
  z-index: -1;
  right: 0;
  height: 100vh;
}

body#home main {
  display: flex;
  flex-direction: column;
}

body#home header {
  padding: 0 30px 0 30px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--shadow);
}

body#home .hover:hover {
  margin-top: -5px;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
}

body#home header .logo {
  max-height: 100px;
}

body#home header nav {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
}

.restrita {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 15%;

  font-family: "lexend";
  font-size: 1rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;
  border: none;

  color: var(--primary);
  --c: var(--accent);
  border-radius: 1rem;

  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.restrita:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.restrita:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  color: #fff;
}


/* Página 1 */
body#home .pagina1 {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body#home .pagina1 .esquerdo {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Página 2 */
body#home .pagina2 {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  border-radius: 1rem;
}

body#home .pagina2 #pessoa2 {
  display: flex;
  height: 100%;
  margin-left: 40%;
}

body#home .pagina2 #esquerda {
  background-image: url("../images/index/biblico.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: var(--accent);
  width: 40%;
}

body#home .pagina2 #direita {
  width: 60%;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

body#home .pagina2 .caixadir {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;

  margin: -5% 0% 5% 5%;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
}

body#home .pagina2 .caixadir h3 {
  font-size: 64px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body#home .pagina2 .caixadir h3 .mark {
  color: var(--primary);
  background-color: var(--secondary);
}

body#home .pagina2 .caixadir p {
  flex: 1;
  max-width: 60%;
  margin-top: 2rem;
  font-size: 16px;
}

/* Página 3 */
body#home .pagina3 {
  height: calc(100vh - 150px);

  background-image: url("/assets/images/index/paper.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

body#home .direita3 {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

body#home .pagina3 p {
  font-size: large;
  margin: 0 0 0 0;
  width: 500px;
  height: 100px;
}

body#home .pagina3 p span {
  color: var(--primary);
}

body#home .pessoa3 {
  max-width: 50vh;
}

/* cabecalho pagina 3 */
.twelve h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  white-space: nowrap;
  padding-bottom: 13px;
}

.twelve h1:before {
  background-color: var(--primary);
  content: '';
  display: block;
  height: 5px;
  width: 95px;
  right: 0;
  gap: 1rem;
}

/* pagina 4 */
.pagina4 {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: 30vw;
  background-image: url('/assets/images/index/fundin.png');
}

.pagina4>.container {
  width: 25%;
}

.pagina4>.container>.cta-form {
  text-align: center;
  background-color: var(--accent);
  padding: 1rem;
  border-top-right-radius: 1rem;

}

#inpute {
  background-color: var(--accent);
  padding: 1rem;
  border: none;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;


}

#inpute:hover {
  cursor: pointer;
  filter: brightness(0.9);
  transition: all 0.2s ease;
}

.form__label {
  padding: 0.2rem;
}

.form__input {

  transition: all 650ms;

  &:focus {
    outline: none;
    border-top-color: rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  &:active {
    content: "aguarde contato";
  }
}

.retorno {
  display: none;
  font-size: medium;
}

.pagina4>.container>.form {
  display: flex;
  flex-direction: column;
  background-color: var(--background-alt);
}

.contato-info {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.contato-info>input {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background);
}

/* rodapé */
body#home footer {
  color: var(--text-inv);
  position: relative;
  background-color: var(--primary-d);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body#home .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

body#home .menu__item {
  opacity: 1;
  list-style: none;
  padding: 0.5rem;
}

body#home .menu__link {
  text-decoration: none;
  color: var(--text-inv);

}

body#home .menu__item:hover {
  margin-top: -5px;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px var(--shadow) solid;
}

body#home .waves {
  display: flex;
  justify-content: center;
}

body#home .wave {
  margin-top: -2rem;
  position: absolute;
  border-radius: 500px;
  height: 100px;
  width: 500px;
  background-color: var(--primary-d);
}

/* Página Login */
@keyframes gira {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.girar {
  position: absolute;
  z-index: 100;
  animation: gira 200s linear infinite;
  max-width: 40vw;
  margin-left: 10vw;
  left: 0;
  right: 0;
  bottom: 0;
}

body#login {
  display: flex;

  margin: 0;
  padding: 0;

  background-image: linear-gradient(26deg, var(--primary), var(--secondary));
  -webkit-animation: movbg 2s ease infinite;
  animation: movbg 2s ease infinite;
  transition: background-color 200ms ease;

  overflow: hidden;
}

body#login .login-esquerda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

body#login .logo {
  position: absolute;
  width: 15rem;
}

body#login .form-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background);
  width: 60vw;
  height: 100vh;
  border-top-left-radius: 7rem;
  padding: 40px;
  color: var(--text);
}

body#login .form-container button {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 35px;
  width: 35px;
  background-color: var(--text);
  border-radius: 50%;
  cursor: pointer;
}

body#login .form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 60%;
}

body#login .form-container form h2 {
  margin-bottom: 40px;
  font-size: 2.6em;
  text-align: center;
}

body#login .form-container form input {
  background-color: #fff;
  color: var(--text);
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}

body#login .form-container form input:hover,
body#login .form-container form input:focus {
  background-color: #ddd;
  transition: 200ms;
}

body#login .form-container form input[type=submit] {
  background-color: #68cbeb;
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 24px;
}

body#login .form-container form input[type=submit]:hover,
body#login .form-container form input[type=submit]:focus {
  background-color: #58aeca;
}

body#login .form-container form p {
  font-size: 14px;
  text-align: center;
}

body#login div#bola-em-baixo {
  width: 20vh;
  height: 20vh;
  border-top-left-radius: 100%;
  background-color: var(--secondary);
  opacity: 0.5;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}