@import "global.css";

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body#home{

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  /* overflow-x: hidden; */
  background-color: var(--background);
  height: 500vh;

  .bgs {
    user-select: none;
    pointer-events: none;
  }

  * {
    text-decoration: dashed;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text);
    transition: opacity 2.3s ease-out;
  }

  .logo {
    margin: 1rem 0 0 1rem;
  }

  .hidden {
    opacity: 0;
    display: none;
  }

  .shown {
    display: block;
    opacity: 1;
  }

  .highlight {
    color: var(--primary);
  }

  .weight {
    font-weight: 1000;
    word-spacing: 2rem;
    color: var(--primary);
  }

  .marked {
    background-color: var(--secondary);
    color: var(--background);
    padding: 0 0.5rem;
    font-weight: 500;
  }

  .pagina1 {
    height: 100vh;
  }

  header {
    user-select: none;
    nav {
      font-weight: 700;
      display: flex;
      width: 100%;
      margin: 0 auto;
      padding: 0 2rem;
      justify-content: space-around;
      align-items: center;
      img {
        height: 10rem;
      }
    }
    ul {
      display: flex;
      list-style: none;
      a {
        padding: 0 1.5rem;
        text-transform: uppercase;
      }
    }
    div {
      height: 2.75rem;
      svg {
        position: absolute;
      }
      .svg-lua {
        margin: 0.6rem 0.65rem;
        fill: var(--secondary);
      }
      .svg-lua-bola {
        fill: var(--text);
      }
    }
  }

  .btn-restrito {
    background-color: var(--secondary);
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    a {
      color: var(--text);
      font-weight: 600;
    }
  }

  .bg-banner {
    z-index: -1;
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    user-select: none;
    pointer-events: none;
  }

  .resolva {
    margin-left: 20vh;
    
    h1 {
      font-size: 5rem;
      z-index: 20;
    }
    h3 {
      font-size: 2rem;
      color: var(--primary);
      margin-left: -2vh;
    }
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    margin: 7rem 0 0 10rem;
    position: relative;

    .box0,
    .box1,
    .box2 {
      display: flex;
      height: 12rem;
      width: 10rem;
      background-color: var(--secondary);
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      position: relative;
      text-align: center;
    }
    .boxb {
      position: absolute;
      background-color: var(--primary);
      width: 100%;
      height: 2rem;
      z-index: -1;
      bottom: 4rem;
    }
  }
  .desc {
    padding: 2.5rem 1rem 1rem 1rem;
    bottom: 4rem;
    z-index: 10;
  }
  .wein {
    position: absolute;
    right: 0;
    height: 90vh;
    z-index: 1;
    user-select: none;
  }

  .lampada{
    position: absolute;
    margin: -10rem 0 0 14rem;
  }
  .shadow {
    -webkit-filter: drop-shadow(-2px 2px 2px var(--shadow));
    filter: drop-shadow(-2px 2px 2px var(--shadow));
  }

  // tablet
  @media screen and (min-width: 763px) and (max-width: 1200px) {
    html {
      font-size: 12px;
    }
  }

  //celular
  @media screen and (max-width: 763px) {
    html {
      font-size: 9px;
    }
  }

  .pagina2 {
    height: 100vh;
    width: 100vw;
  }

  .retangulo {
    position: inherit;
    width: 47rem;
    height: 100vh;
    background: var(--primary);
    left: 100%;
  }
}

body#login {
  background-image: linear-gradient(
    26deg,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
  min-height: 100vh;
  background-size: 400% 400%;
  
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;

  display: flex;
  align-items: center;
  
  -webkit-animation: movbg 27s ease infinite;
  animation: movbg 27s ease infinite;
  overflow: hidden;

  transition: background-color 200ms ease;

  h1 {
    position: absolute;
    left: 20px;
    top: 20px;

    font-size: 48px;
  }

  & > img {
    z-index: 1;
    flex: 4;
    width: 100px;
    margin-top: 100px;
  }

  .form-container {
    flex: 6;
    position: relative;

    background-color: var(--background);
    min-height: 100vh;
    border-top-left-radius: 70px;

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text);

    button {
      position: absolute;
      top: 50px;
      left: 50px;
      height: 35px;
      width: 35px;
  
      background-color: var(--text);
      border-radius: 50%;
      cursor: pointer;
      
      i {
        color: var(--background);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      h2 {
        margin-bottom: 40px;
        font-size: 2.6em;

        text-align: center;
      }

      input {
        background-color: #fff;
        color: var(--text);
        padding: 5px;
        font-size: 16px;
        border-radius: 4px;

        &:hover,
        &:focus {
          background-color: #ddd;
          transition: 200ms;
        }
      }

      input[type="submit"]{
        background-color: #68CBEB;
        padding: 15px;
        cursor: pointer;
        margin-top: 10px;
        
        font-size: 24px;

        &:hover,
        &:focus {
          background-color: #58aeca;
        }
      }
    }
  }

  div#bola-em-baixo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #58aeca55;

    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
}
