@import url("global.css");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body#home {
  background-color: var(--background);
  max-width: 1200px;
  margin: auto;
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .logo {
    }

    div {
      display: flex;
      flex-direction: row;
    }

    nav {
      font-size: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 50px;
      align-items: center;
    }

    button {
      height: 50px;
      width: 50px;
      border: none;
      border-radius: 50%;
      background-color: var(--secondary);
    }

    button + button {
      margin-left: 20px;
    }

    .restrito {
      font-weight: 700;
      font-size: 14px;
      border-radius: 7px;
      width: 150px;
    }
  }

  .pagina1 {
    height: calc(100vh - 100px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .esquerdo {
      display: flex;
      flex-direction: row;
    }

    .imgs {
      right: 0;
      display: flex;
      flex-direction: column;
    }

    .linha {
      height: 6px;
      border-radius: 5px;
    }

    .linha + .linha {
      margin-top: 5px;
    }

    .linha#linha1 {
      background-color: var(--accent);
      width: 200px;
    }

    .linha#linha2 {
      background-color: var(--secondary);
      width: 270px;
    }

    .letreiro {
      p {
        font-size: 64px;
      }
    }
  }

  .pagina2 {
    height: calc(100vh - 100px);
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    #esquerda {
      background-color: var(--accent);
      width: 40%; // quando tiver as imagens certas, venho arrumar (essa é parte visível da imagem de fundo)
    }
    #direita {
      width: 60%; // quando tiver as imagens certas, venho arrumar
    }
  }
}

body#login {
  background-image: linear-gradient(
    26deg,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
  min-height: 100vh;
  background-size: 400% 400%;

  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;

  display: flex;

  -webkit-animation: movbg 27s ease infinite;
  animation: movbg 27s ease infinite;
  overflow: hidden;

  transition: background-color 200ms ease;

  h1 {
    position: absolute;
    left: 20px;
    top: 20px;

    font-size: 48px;
  }

  & > img {
    z-index: 1;
    transform: translateX(1vw);
    width: calc(40vw + 100px);
    margin-top: 100px;
  }

  .form-container {
    position: relative;

    background-color: var(--background);
    width: 60vw;
    height: 100vh;
    border-top-left-radius: 70px;

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text);

    button {
      position: absolute;
      top: 50px;
      left: 50px;
      height: 35px;
      width: 35px;

      background-color: var(--text);
      border-radius: 50%;
      cursor: pointer;

      i {
        color: var(--background);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      width: 60%;

      h2 {
        margin-bottom: 40px;
        font-size: 2.6em;

        text-align: center;
      }

      input {
        background-color: #fff;
        color: var(--text);
        padding: 5px;
        font-size: 16px;
        border-radius: 4px;

        &:hover,
        &:focus {
          background-color: #ddd;
          transition: 200ms;
        }
      }

      input[type="submit"] {
        background-color: #68cbeb;
        padding: 15px;
        cursor: pointer;
        margin-top: 10px;

        font-size: 24px;

        &:hover,
        &:focus {
          background-color: #58aeca;
        }
      }

      p {
        font-size: 14px;
        text-align: center;
      }
    }
  }

  div#bola-em-baixo {
    width: 200px;
    height: 200px;
    border-top-left-radius: 100%;
    background-color: #58aeca55;

    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  // tablet
  @media screen and (max-width: 1200px) {
    overflow: hidden;

    & > img {
      display: none;
    }

    & > h1 {
      z-index: 1;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: var(--text);
    }

    .form-container {
      font-size: clamp(14px, 2vw, 20px);
      width: 100vw;
      border-radius: 0;

      form {
        row-gap: 3px;

        h2 {
          margin-bottom: 10px;
        }
      }

      button {
        top: 10px;
        left: 10px;
      }
    }

    div#bola-em-baixo {
      display: none;
    }
  }

  @media screen and (max-height: 420px) {
    & > h1 {
      display: none;
    }
  }
}

body#adminLayout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr 50px;
  grid-auto-rows: 50px;
  height: 100vh;
  margin: 0;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";

  header {
    grid-area: header;
    background-color: #f7d9c4;
  }

  nav {
    grid-area: sidebar;
    background-color: #f8a488;
  }

  main {
    grid-area: main;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #eaedf0;
  }

  footer {
    grid-area: footer;
    background-color: #f7d9c4;
  }

  @media screen and (max-width: 763px) {
    & {
      grid-template-columns: 1fr;
      grid-template-rows: 120px 80px 1fr 50px;
      grid-template-areas:
        "sidebar"
        "header"
        "main"
        "footer";
    }
  }
}
