@import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  --text: #26210d;
  --background: #f7f0dc;
  --primary: #234c67;
  --secondary: #b1d4f6;
  --accent: #cfa93f;
  --shadow: #201a0851;
}

.dark-mode {
  --text: #f2edd9;
  --background: #100e07;
  --primary: #98c1dc;
  --secondary: #092b4e;
  --accent: #c09930;
  --shadow: #201a0851;
}

.hyperlink {
  cursor: pointer;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--background);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  border: 0;

  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

@-webkit-keyframes movbg {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}
@keyframes movbg {
  0% {
    background-position: 0% 56%;
  }
  50% {
    background-position: 100% 45%;
  }
  100% {
    background-position: 0% 56%;
  }
}

.shadow {
  -webkit-filter: drop-shadow(-5px 2px 3px var(--shadow));
  filter: drop-shadow(-5px 2px 3px var(--shadow));
}

html,
body {
  background: linear-gradient(
    26deg,
    var(--primary),
    var(--secondary),
    var(--accent)
  );
  background-size: 400% 400%;

  -webkit-animation: movbg 27s ease infinite;
  animation: movbg 27s ease infinite;
  overflow: hidden;

  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-weight: 400;
}

.logo-cima {
  color: var(--text);
  position: absolute;
  font-size: 5rem;
  margin: 3rem;
}

.bg-login {
  position: absolute;
  height: 100vh;
}

.bg-balls {
  z-index: 10;
  margin-left: -20rem;
  margin-top: -2rem;
  position: absolute;
  height: 50rem;
  fill: var(--background);
}

.bg-blob1 {
  z-index: 10;
  margin-top: -2rem;
  margin-left: 22rem;
  position: absolute;
  width: 10rem;
  height: 9rem;
  fill: var(--primary);
}

.column {
  height: 100vh;
  margin-left: 40%;
  background-color: var(--background);
  border-top-left-radius: 5rem;
}

.form-login {
  padding: 15%;
  padding-top: 20% !important;
  padding-bottom: 5% !important;

  h1 {
    font-size: 5rem;
    margin: 0;
    background: -webkit-radial-gradient(var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .esqueceu {
    width: 100%;
    background: -webkit-linear-gradient(var(--accent), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  input {
    width: 100%;
    margin: 0;
    border-radius: 0.5rem;
    height: 2rem;
    background-color: var(--accent);
    color: var(--text);
    padding: 1rem;
    height: 3rem;
  }

  p {
    margin: 0;
    padding-top: 0.5rem;
    color: var(--text);
  }

  a {
    display: block;

    padding: 5%;
    text-align: center;
  }

  button {
    display: block;
    width: 100%;
    height: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    font-family: "Courier New", Courier, monospace;
    background: linear-gradient(218deg, var(--secondary), var(--primary));
  }
}

.container-contato {
  display: flex;
  justify-content: center;
}

.contato {
  border-radius: 5rem;
  height: 5rem;
  width: 5rem;
  background-color: var(--secondary);
}

.mesa-login {
  position: absolute;
  margin-top: 9rem;
  margin-left: 5rem;
  z-index: 1;
}

.theme {
  background-color: var(--text);
  position: absolute;
  height: 4rem;
  margin-left: 42.5%;
  border-radius: 100%;

  z-index: 999;

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }
}
